<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>黃千津的求職自傳履歷</title>
	<style type="text/css">
		* { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
		h1 {color:#0066ff; font-size:50px;}
		h2 {color:#33ccff; font-size:20px;}
		p {font-size:18px;} 
	</style>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>
	<nav class="navbar navbar-expand-lg bg-light">
		<a class="navbar-brand">導覽列</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#ITEMS">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="ITEMS">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a href="#ccHuang" class="nav-link active">個人簡介</a>
				</li>

				<li>
					<a href="#Holland" class="nav-link active">興趣何倫碼</a>
				</li>
				<li>
					<a href="#MIS" class="nav-link active">MIS相關</a>
				</li>
				<li>
					<a href="#resume" class="nav-link active">個人簡歷</a>
				</li>
			</ul>
		</div>
	</nav>

	
	<main class="container-fluid text-white text-center" style="background: linear-gradient(to right, #ccccff 50%, #ffddaa 50%);">
		
		<h1 id="ccHuang" style="color: black;">個人簡介</h1>
		<div class="row">

			<section class="col-lg-4 p-3" style="color: black;">

				<h2>黃千津(ccHuang)</h2>
				<img src="/static/me.jpg" class="img-fluid" width="50%" style="border-radius: 50%; object-fit: cover;"></img><br><br>
				<p>姓名: 黃千津<br>
				班級: 資管二A<br>
				學號: 411203267<br>
				Email: c0920434618@gmail.com<br></p>
				
			</section>

			<section class="col-lg-4 p-3" style="color: black;">
		
				<h2>高中經歷</h2>
				<img src="/static/team.jpg" class="img-fluid" width="50%" style="border-radius: 50%; object-fit: cover; height: auto;"></img><br><br>
				
				<p>擔任班長<br>
				擔任美聲創作社副社長<br>
				參與過各種校內校外社團表演活動<br>
				<a href="https://www.instagram.com/bella._.9th_/" target="_blank">社團網頁 </a> ← 點我有驚喜<br></p>
				
			</section>

			<section class="col-lg-4 p-3" style="color: black;">

				<h2>興趣愛好</h2>
				<img src="/static/star.jpg" class="img-fluid" width="50%" style="border-radius: 50%; object-fit: cover; height: auto;"></img><br><br>
				<p>興趣: 彈鋼琴、爬山、拍照、追星</p>
				
			</section>

			</div><br>

		</main>	


		<main class="container-fluid text-white text-center" style="background: linear-gradient(to right, #ccccff 50%, #ffddaa 50%);">
			<h1 id="Holland" style="color: black;">興趣何倫碼測驗結果</h1>
			<p style="color: black;">總共分為以下六種:實用型(R)、研究型(I)、藝術型(A)、社會型(S)、企業型(E)及事務型(C)</p>
			<p><a href="https://guide.104.com.tw/interest/" target="_blank">快來測出你的何倫碼!!! </a></p>

			<div class="row">

			<section class="col-lg-12 p-3" style="color: black;">
				<h2 style="color: black;">我的Holland碼類型為 : E企業型 & C事務型</h2>
					<p>
						E企業型 : 「說服者」 → 精力充沛、冒險競爭、野心、樂觀、自信、善於社交、引人注意、堅定、外向、主導性高、做事有計畫<br>
						C事務型 : 「文書者」 → 規律、精確、有條理、堅毅、謹慎、有效率、穩重、愛整潔、講求實際、保守、服從指示<br><br>
					</p>
				<img src="/static/Holland.jpg" class="img-fluid" style="max-width: 100%; height: auto;"></img>
			</section>

			<section class="col-lg-12 p-3" style="color: black;"><br>
				<h2 style="color: black;">此類型最常從事的職業</h2>
				<img src="/static/work.jpg" class="img-fluid" style="max-width: 100%; height: auto;"></img>
			</section>

			</div><br>

		</main>	

		<main class="container-fluid text-white text-center" style="background: linear-gradient(to right, #ccccff 50%, #ffddaa 50%);">
		    <h1 id="MIS" style="color: black;">MIS 相關分析</h1>

		    <div class="table-responsive">
		        <table class="table table-bordered" style="background-color: white; width: 80%; margin: auto;">
		            <thead style="background-color: #007BFF; color: white;">
		                <tr>
		                    <th style="text-align: center;">分類</th>
		                    <th style="text-align: center;">內容</th>
		                </tr>
		            </thead>
		            <tbody>
		                <tr>
		                    <td style="text-align: center; font-weight: bold;">職務定義</td>
		                    <td>
		                        1. 設計、開發、運營與維護公司內部管理資訊系統<br>
		                        2. 確保系統的穩定性與高效性
		                    </td>
		                </tr>
		                <tr>
		                    <td style="text-align: center; font-weight: bold; ">工作內容</td>
		                    <td>
		                        1. 開發與維護管理資訊系統，確保系統高效運行<br>
		                        2. 優化網路架構，確保數據傳輸穩定與安全<br>
		                        3. 進行系統需求分析，提供技術解決方案<br>
		                        4. 維護資訊安全，如防毒、防駭、防資料外洩<br>
		                        5. 監控系統性能、故障排除、資料備份<br>
		                        6. 撰寫技術文件，培訓使用者<br>
		                        7. 改進與升級內部網站與資訊系統
		                    </td>
		                </tr>
		                <tr>
		                    <td style="text-align: center; font-weight: bold; ">具備能力</td>
		                    <td>
		                        1. 熟悉系統架構、網路管理、資訊安全<br>
		                        2. 具備良好溝通能力，能與技術團隊及使用者合作<br>
		                        3. 確保系統符合業務需求，提供技術支援<br>
		                        4. 能適應技術變化，在壓力下高效工作
		                    </td>
		                </tr>
		            </tbody>
		        </table><br>
		    </div>
		</main>


		<main class="container-fluid text-white text-center" style="background: linear-gradient(to right, #ccccff 50%, #ffddaa 50%);">
			<h1 id="resume" style="color: black;">個人簡歷</h1>
			<div class="row">

			<section class="col-lg-12 p-3" style="color: black;">
				<h2 style="color: black;"> 我未來想從事的工作: 行政人員 </h2>
				<p style="color: black; width: 50%; margin: auto;">
					原因:高中時我就猶豫該為了未來的薪資學寫程式，還是堅持自己一直以來的興趣學習管理。幸好有資訊管理學系，讓我可以同時接觸並實現兩者兼顧的學習。在學習上我也發現其實自己對於程式還是沒自信也沒興趣，也透過測驗發現自己其實更適合走行政或金融方面，所以才確定自己未來的路。
				</p>
			</section>

			<section class="col-lg-12 p-3" style="color: black;"><br>

				<h2 style="color: black;">工作內容</h2>
				<p style="color: black;">
					1.處理文書資料、管理文件檔案與資料庫<br>
					2.安排行事曆、會議協調與記錄撰寫<br>
					3.負責費用預估、控管及報表製作<br>
					4.處理公文收發、文件簽核與郵件管理<br>
					5.管理零用金、銀行交易與文具請領<br>
					6.協助員工福利相關事務<br>
				</p>
			</section>

			<section class="col-lg-12 p-3" style="color: black;"><br>
				<h2 style="color: black;">工具技能</h2>
				<p style="color: black;">
					1.中文打字50~75<br>
					2.行政事務處理、文件收發與檔案管理、顧客接待<br>
				</p>
			</section>

			<section class="col-lg-12 p-3" style="color: black;"><br>

				<h2 style="color: black;">未來發展</h2>
				<p style="color: black;">
					後續職涯發展:記帳∕出納∕一般會計、業務助理、國內業務人員、人力資源人員<br>
				</p>
			</section>

			<section class="col-lg-12 p-3" style="color: black;"><br>

				<h1 id="resume" style="color: black;">求職履歷</h1>
				<img src="/static/cv.jpg" class="img-fluid" style="max-width: 60%; height: auto;"></img>

			</section>

		<footer>
			<p style="color: black;">
				Copyright ©  ccHuang. All Rights Reserved
			</p>
		</footer>
	</main>


</body>
</html>